/WikitudeAndroidModule/libs/x86/libcom.wikitude.ti.so
/WikitudeAndroidModule/libs/armeabi/libcom.wikitude.ti.so
/WikitudeAndroidModule/libs/armeabi-v7a/libcom.wikitude.ti.so
*/build*
/WikitudeAndroidModule/build/classes/com/wikitude/ti/WikitudeViewProxyPrototype.class
/WikitudeAndroidModule/build/classes/com/wikitude/ti/WikitudeViewProxy.class
/WikitudeAndroidModule/build/classes/com/wikitude/ti/WikitudeViewProxy$4.class
/WikitudeAndroidModule/build/classes/com/wikitude/ti/WikitudeViewProxy$3.class
/WikitudeAndroidModule/build/classes/com/wikitude/ti/WikitudeViewProxy$2.class
/WikitudeAndroidModule/build/classes/com/wikitude/ti/WikitudeViewProxy$1.class
/WikitudeAndroidModule/build/classes/com/wikitude/ti/WikitudeView.class
/WikitudeAndroidModule/build/classes/com/wikitude/ti/WikitudeandModulePrototype.class
/WikitudeAndroidModule/build/classes/com/wikitude/ti/WikitudeandModule.class
/WikitudeAndroidModule/build/classes/com/wikitude/ti/wikitudeandGeneratedBindings.class
/WikitudeAndroidModule/build/classes/com/wikitude/ti/WikitudeandBootstrap.class
/WikitudeAndroidModule/build/classes/com/wikitude/ti/VuforiaServiceImplementation.class
/WikitudeAndroidModule/build/classes/com/wikitude/ti/Constants.class
/WikitudeAndroidModule/build/generated/WikitudeandBootstrap.cpp
/WikitudeAndroidModule/build/generated/obj/local/x86/objs/com.wikitude.ti/com.wikitude.ti.WikitudeViewProxy.o.d
/WikitudeAndroidModule/build/generated/obj/local/x86/objs/com.wikitude.ti/com.wikitude.ti.WikitudeViewProxy.o
/WikitudeAndroidModule/build/generated/obj/local/x86/objs/com.wikitude.ti/com.wikitude.ti.WikitudeandModule.o.d
/WikitudeAndroidModule/build/generated/obj/local/x86/objs/com.wikitude.ti/com.wikitude.ti.WikitudeandModule.o
/WikitudeAndroidModule/build/generated/obj/local/x86/objs/com.wikitude.ti/__/WikitudeandBootstrap.o.d
/WikitudeAndroidModule/build/generated/obj/local/x86/objs/com.wikitude.ti/__/WikitudeandBootstrap.o
/WikitudeAndroidModule/build/generated/obj/local/x86/libstlport_shared.so
/WikitudeAndroidModule/build/generated/obj/local/x86/libcom.wikitude.ti.so
/WikitudeAndroidModule/build/generated/obj/local/armeabi/objs/com.wikitude.ti/com.wikitude.ti.WikitudeViewProxy.o.d
/WikitudeAndroidModule/build/generated/obj/local/armeabi/objs/com.wikitude.ti/com.wikitude.ti.WikitudeViewProxy.o
/WikitudeAndroidModule/build/generated/obj/local/armeabi/objs/com.wikitude.ti/com.wikitude.ti.WikitudeandModule.o.d
/WikitudeAndroidModule/build/generated/obj/local/armeabi/objs/com.wikitude.ti/com.wikitude.ti.WikitudeandModule.o
/WikitudeAndroidModule/build/generated/obj/local/armeabi/objs/com.wikitude.ti/__/WikitudeandBootstrap.o.d
/WikitudeAndroidModule/build/generated/obj/local/armeabi/objs/com.wikitude.ti/__/WikitudeandBootstrap.o
/WikitudeAndroidModule/build/generated/obj/local/armeabi/libstlport_shared.so
/WikitudeAndroidModule/build/generated/obj/local/armeabi/libcom.wikitude.ti.so
/WikitudeAndroidModule/build/generated/obj/local/armeabi-v7a/objs/com.wikitude.ti/com.wikitude.ti.WikitudeViewProxy.o.d
/WikitudeAndroidModule/build/generated/obj/local/armeabi-v7a/objs/com.wikitude.ti/com.wikitude.ti.WikitudeViewProxy.o
/WikitudeAndroidModule/build/generated/obj/local/armeabi-v7a/objs/com.wikitude.ti/com.wikitude.ti.WikitudeandModule.o.d
/WikitudeAndroidModule/build/generated/obj/local/armeabi-v7a/objs/com.wikitude.ti/com.wikitude.ti.WikitudeandModule.o
/WikitudeAndroidModule/build/generated/obj/local/armeabi-v7a/objs/com.wikitude.ti/__/WikitudeandBootstrap.o.d
/WikitudeAndroidModule/build/generated/obj/local/armeabi-v7a/objs/com.wikitude.ti/__/WikitudeandBootstrap.o
/WikitudeAndroidModule/build/generated/obj/local/armeabi-v7a/libstlport_shared.so
/WikitudeAndroidModule/build/generated/obj/local/armeabi-v7a/libcom.wikitude.ti.so
/WikitudeAndroidModule/build/generated/libs/x86/libstlport_shared.so
/WikitudeAndroidModule/build/generated/libs/x86/libcom.wikitude.ti.so
/WikitudeAndroidModule/build/generated/libs/armeabi/libstlport_shared.so
/WikitudeAndroidModule/build/generated/libs/armeabi/libcom.wikitude.ti.so
/WikitudeAndroidModule/build/generated/libs/armeabi-v7a/libstlport_shared.so
/WikitudeAndroidModule/build/generated/libs/armeabi-v7a/libcom.wikitude.ti.so
/WikitudeAndroidModule/build/generated/KrollGeneratedBindings.gperf
/WikitudeAndroidModule/build/generated/KrollGeneratedBindings.cpp
/WikitudeAndroidModule/build/generated/json/org/appcelerator/titanium/bindings/wikitudeand.json
/WikitudeAndroidModule/build/generated/jni/com.wikitude.ti.WikitudeViewProxy.h
/WikitudeAndroidModule/build/generated/jni/com.wikitude.ti.WikitudeViewProxy.cpp
/WikitudeAndroidModule/build/generated/jni/com.wikitude.ti.WikitudeandModule.h
/WikitudeAndroidModule/build/generated/jni/com.wikitude.ti.WikitudeandModule.cpp
/WikitudeAndroidModule/build/generated/jni/Android.mk
/WikitudeAndroidModule/build/generated/java/wikitudeandGeneratedBindings.java
/WikitudeAndroidModule/build/generated/java/com/wikitude/ti/WikitudeViewProxyPrototype.java
/WikitudeAndroidModule/build/generated/java/com/wikitude/ti/WikitudeandModulePrototype.java
/WikitudeAndroidModule/build/generated/java/com/wikitude/ti/WikitudeandBootstrap.java
/WikitudeAndroidModule/build/generated/BootstrapJS.cpp
/WikitudeAndroidModule/build/generated/bootstrap.js
/WikitudeAndroidModule/build/generated/Application.mk
/WikitudeAndroidModule/build/classes/org/appcelerator/titanium/bindings/wikitudeand.json
/WikitudeAndroidModule/bin/com/wikitude/ti/WikitudeViewProxy.class
/WikitudeAndroidModule/bin/com/wikitude/ti/WikitudeViewProxy$4.class
/WikitudeAndroidModule/bin/com/wikitude/ti/WikitudeViewProxy$3.class
/WikitudeAndroidModule/bin/com/wikitude/ti/WikitudeViewProxy$2.class
/WikitudeAndroidModule/bin/com/wikitude/ti/WikitudeViewProxy$1.class
/WikitudeAndroidModule/bin/com/wikitude/ti/WikitudeView.class
/WikitudeAndroidModule/bin/com/wikitude/ti/WikitudeandModule.class
/WikitudeAndroidModule/bin/com/wikitude/ti/Constants.class
/.metadata/version.ini
/.metadata/.plugins/org.python.pydev/ping.log
/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2013/4/18/refactorings.index
/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2013/4/18/refactorings.history
/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
/.metadata/.plugins/org.eclipse.jdt.core/4220911148.index
/.metadata/.plugins/org.eclipse.jdt.core/1803432092.index
/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
/.metadata/.plugins/org.eclipse.debug.core/.launches/Titanium Android Module Packager - WikitudeAndroidModule.launch
/.metadata/.plugins/org.eclipse.debug.core/.launches/Titanium Android Application Installer - WikitudeTitaniumSample.launch
/.metadata/.plugins/org.eclipse.debug.core/.launches/Titanium Android Application Installer - WikitudeTestApp.launch
/.metadata/.plugins/org.eclipse.debug.core/.launches/Firefox - Internal Server.launch
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.texteditor.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.browser.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.search.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ant.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.aptana.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.aptana.theme.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.aptana.index.core.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.aptana.explorer.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.aptana.editor.js.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.aptana.editor.html.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.aptana.editor.css.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.aptana.editor.common.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.appcelerator.titanium.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.appcelerator.titanium.rcp.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.appcelerator.titanium.mobile.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.appcelerator.titanium.core.prefs
/.metadata/.plugins/org.eclipse.core.resources/.snap
/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
/.metadata/.plugins/org.eclipse.core.resources/.safetable/com.aptana.webserver.core.6
/.metadata/.plugins/org.eclipse.core.resources/.safetable/com.aptana.syncing.core.7
/.metadata/.plugins/org.eclipse.core.resources/.safetable/com.aptana.core.io.7
/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/WikitudeTitaniumSample/.syncinfo.snap
/.metadata/.plugins/org.eclipse.core.resources/.projects/WikitudeTitaniumSample/.markers.snap
/.metadata/.plugins/org.eclipse.core.resources/.projects/WikitudeTitaniumSample/.indexes/properties.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/WikitudeTitaniumSample/.indexes/87/91/84/f6/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/WikitudeTitaniumSample/.indexes/87/91/84/f6/96/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/WikitudeTitaniumSample/.indexes/87/91/84/f6/8e/c1/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/WikitudeTitaniumSample/.indexes/87/91/84/f6/8e/76/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/WikitudeTitaniumSample/.indexes/87/91/84/f6/8e/72/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/WikitudeAndroidModule/.syncinfo.snap
/.metadata/.plugins/org.eclipse.core.resources/.projects/WikitudeAndroidModule/.markers.snap
/.metadata/.plugins/org.eclipse.core.resources/.projects/WikitudeAndroidModule/.indexes/properties.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/WikitudeAndroidModule/.indexes/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/WikitudeAndroidModule/.indexes/8e/c1/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/WikitudeAndroidModule/.indexes/8e/76/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/WikitudeAndroidModule/.indexes/8e/72/history.index
/.metadata/.plugins/org.eclipse.core.resources/.history/fe/706aec2d98b100121000bfb4cb9ca802
/.metadata/.plugins/org.eclipse.core.resources/.history/f4/20f5f36898b100121000bfb4cb9ca802
/.metadata/.plugins/org.eclipse.core.resources/.history/e2/b05e3a7998b100121000bfb4cb9ca802
/.metadata/.plugins/org.eclipse.core.resources/.history/b4/e0d33a7998b100121000bfb4cb9ca802
/.metadata/.plugins/org.eclipse.core.resources/.history/8a/505f997498b100121000bfb4cb9ca802
/.metadata/.plugins/org.eclipse.core.resources/.history/83/70c2397998b100121000bfb4cb9ca802
/.metadata/.plugins/org.eclipse.core.resources/.history/65/e1d33a7998b100121000bfb4cb9ca802
/.metadata/.plugins/org.eclipse.core.resources/.history/57/80e9397998b100121000bfb4cb9ca802
/.metadata/.plugins/org.eclipse.core.resources/.history/29/d0ac3a7998b100121000bfb4cb9ca802
/.metadata/.plugins/org.eclipse.core.resources/.history/27/c0853a7998b100121000bfb4cb9ca802
/.metadata/.plugins/org.eclipse.core.resources/.history/26/500c927498b100121000bfb4cb9ca802
/.metadata/.plugins/org.eclipse.core.resources/.history/25/a0373a7998b100121000bfb4cb9ca802
/.metadata/.plugins/org.eclipse.core.resources/.history/24/00f6897498b100121000bfb4cb9ca802
/.metadata/.plugins/com.aptana.webserver.core/webservers.6
/.metadata/.plugins/com.aptana.syncing.core/sites.7
/.metadata/.plugins/com.aptana.syncing.core/defaultConnection.7
/.metadata/.plugins/com.aptana.index.core/4010369919.index
/.metadata/.plugins/com.aptana.index.core/3884296527.index
/.metadata/.plugins/com.aptana.index.core/379862344.index
/.metadata/.plugins/com.aptana.index.core/3575558297.index
/.metadata/.plugins/com.aptana.index.core/1237367094.index
/.metadata/.plugins/com.aptana.index.core/114577082.index
/.metadata/.plugins/com.aptana.core.io/connections.7
/.metadata/.log
/.metadata/.lock