/.metadata/
/WikitudeTitaniumSample/build
/WikitudeIOSModule/Project/build/*
/WikitudeTitaniumSample/com.wikitude.ti-iphone-0.1.1.zip
WorkspaceSettings.xcsettings
/WikitudeTitaniumSample/build/iphone/assets/ui/windows/LaunchViaUrlWindow_js
UserInterfaceState.xcuserstate
/WikitudeTitaniumSample/build
/WikitudeTitaniumSample/build/iphone/WikitudeTestApp_Prefix.pch
/WikitudeTitaniumSample/build/iphone/WikitudeTestApp.xcodeproj/xcuserdata/Andi.xcuserdatad/xcschemes/xcschememanagement.plist
/WikitudeTitaniumSample/build/iphone/WikitudeTestApp.xcodeproj/xcuserdata/Andi.xcuserdatad/xcschemes/WikitudeTestApp.xcscheme
/WikitudeTitaniumSample/build/iphone/WikitudeTestApp.xcodeproj/xcuserdata/Andi.xcuserdatad/xcschemes/WikitudeTestApp-universal.xcscheme
/WikitudeTitaniumSample/build/iphone/WikitudeTestApp.xcodeproj/xcuserdata/Andi.xcuserdatad/xcschemes/WikitudeTestApp-iPad.xcscheme
/WikitudeTitaniumSample/build/iphone/WikitudeTestApp.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/WikitudeTitaniumSample/build/iphone/WikitudeTestApp.xcodeproj/project.pbxproj
/WikitudeIOSModule/Project/build/WikitudeIOS.build/Release-iphonesimulator/WikitudeIOS.build/Objects-normal/i386/ComWikitudeTiWikitudeViewProxy.dia
/WikitudeIOSModule/Project/build/WikitudeIOS.build/Release-iphonesimulator/WikitudeIOS.build/Objects-normal/i386/ComWikitudeTiWikitudeView.dia
/WikitudeIOSModule/Project/build/WikitudeIOS.build/Release-iphonesimulator/WikitudeIOS.build/Objects-normal/i386/ComWikitudeTiModuleAssets.dia
/WikitudeIOSModule/Project/build/WikitudeIOS.build/Release-iphonesimulator/WikitudeIOS.build/Objects-normal/i386/ComWikitudeTiModule.dia
/WikitudeIOSModule/Project/build/WikitudeIOS.build/Release-iphonesimulator/WikitudeIOS.build/ComWikitudeTi-generated-files.hmap
/WikitudeIOSModule/Project/build/WikitudeIOS.build/Release-iphoneos/WikitudeIOS.build/Objects-normal/armv7s/ComWikitudeTiWikitudeViewProxy.dia
/WikitudeIOSModule/Project/build/WikitudeIOS.build/Release-iphoneos/WikitudeIOS.build/Objects-normal/armv7s/ComWikitudeTiModuleAssets.dia
/WikitudeIOSModule/Project/build/WikitudeIOS.build/Release-iphoneos/WikitudeIOS.build/Objects-normal/armv7s/ComWikitudeTiModule.dia
/WikitudeIOSModule/Project/build/WikitudeIOS.build/Release-iphoneos/WikitudeIOS.build/Objects-normal/armv7/ComWikitudeTiWikitudeViewProxy.dia
/WikitudeIOSModule/Project/build/WikitudeIOS.build/Release-iphoneos/WikitudeIOS.build/Objects-normal/armv7/ComWikitudeTiModuleAssets.dia
/WikitudeIOSModule/Project/build/WikitudeIOS.build/Release-iphoneos/WikitudeIOS.build/Objects-normal/armv7/ComWikitudeTiModule.dia
/WikitudeIOSModule/Project/build/WikitudeIOS.build/Release-iphoneos/WikitudeIOS.build/ComWikitudeTi-generated-files.hmap
/WikitudeTitaniumSample/build.log

.settings

# OS X
.DS_Store

# Xcode
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
profile
*.moved-aside
DerivedData
.idea/
*.hmap
*.xccheckout
