<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.appcelerator.titanium.mobile.ui.ios.installer.launchConfigurationType">
<booleanAttribute key="ATTR_MINIFY" value="true"/>
<stringAttribute key="ATTR_PROJECT_NAME" value="WikitudeTitaniumSample"/>
<stringAttribute key="ATTR_TITANIUM_DEPLOY_TYPE" value="development"/>
<stringAttribute key="appid" value="com.wikitude.titaniumsample"/>
<stringAttribute key="certificate" value="Andreas Alfarè (V5R2HZMCT8)"/>
<stringAttribute key="debug_config" value="::1371722150123:10.0.10.11"/>
<stringAttribute key="debug_hosts" value="10.0.10.11"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/WikitudeTitaniumSample"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.capture_output" value="true"/>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="true"/>
<stringAttribute key="process_factory_id" value="com.appcelerator.titanium.ui.logLevelFilteringProcessFactory"/>
<stringAttribute key="sdk_version" value="6.1"/>
<stringAttribute key="uuid" value="83B17494-0E15-48A4-9673-FCDAC0B2FAC1"/>
</launchConfiguration>
